@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr 1fr;
  height: 100vh;
  width: 100vw;

  font-family: "Open Sans", sans-serif;
  color: white;
}
.App-upper,
.App-lower {
  color: #4c3549;
  place-self: center;
}
.App-upper-sub {
  font-size: 1rem;
}
.App-lower {
  align-self: end;
  justify-self: left;
  margin-bottom: 0;
}
